<f:layout name="Default" />

<f:section name="main">
<input type="hidden" id="tx-datec-timeline-dateTimeFormat" value="{settings.display.dateTimeFormat}" />
<input type="hidden" id="tx-datec-timeline-dateFormat" value="{settings.display.dateFormat}" />
<input id="tx-datec-timeline-pageId" type="hidden" name="tx_datectimeline_timeline[pageId]" value="{pageId}" />
<div id="tx-datec-timeline-filter">
	<f:if condition="{users}">
		<f:render partial="FeUser/CreatorsLegend" arguments="{settings:settings, creators:users}" />
		<f:render partial="FeUser/ParticipantsFilter" arguments="{settings:settings, participants:users}" />
	</f:if>
</div>
<span class="tx-datec-timeline-refresh"></span>
<f:if condition="{settings.langOptions}">
	<span>Language: <select id="tx-datec-timeline-lang-selector"></select></span>
</f:if>
<div id="tx-datec-timeline-info">
	<f:flashMessages renderMode="div" />
</div>
<div id="tx-datec-timeline-canvas"></div>
<div id="tx-datec-timeline-form-canvas" style="display:none;"></div>
<div id="tx-datec-timeline-show-canvas" style="display:none;"></div>

</f:section>