/* styles from datec_timeline */
.tx-datec-timeline > div {
    margin-bottom: 10px;
}
.tx-datec-timeline .fc-title {
	font-weight: bold;
}
.tx-datec-timeline-date > div {
	margin-bottom: 5px;
}
.tx-datec-timeline .fc-month-view .fc-body .fc-row {
	min-height: 6em;
}
.tx-datec-timeline .fc-event {
	cursor: default;
}
.tx-datec-timeline .typo3-messages{font-weight:600}
.tx-datec-timeline .typo3-message.message-ok{color:green}
.tx-datec-timeline .typo3-message.message-warning{color:inherit}
.tx-datec-timeline .typo3-message.message-error{color:red}
.tx-datec-timeline-creator {
	display: inline-block;
	padding: 2px 4px;
	margin-right: 5px;
	margin-bottom: 2px;
	cursor: pointer;
	color: #fff;
}
.tx-datec-timeline-creator[data-filterstate="inactive"] {
	text-decoration: line-through;
	background-color: gray !important;
	border-color: gray !important;
}
.datetimepicker.form-control[readonly],
.datepicker.form-control[readonly] {
    cursor: default;
    background-color: #fff;
}
/* for small screens: only day view */
@media (max-width:991px) {
	#tx-datec-timeline-canvas > .fc-toolbar > .fc-right {
		display: none;
	}
	#tx-datec-timeline-canvas > .fc-toolbar > * > :first-child {
	    font-size: 20px;
	}
	.fc-prev-button.fc-button,
	.fc-next-button.fc-button {
	    height: 1.5em;
	}
	.fc-prev-button.fc-button > .fc-icon,
	.fc-next-button.fc-button > .fc-icon {
	    font-size: 0.7em;
	}
	.fc-prev-button.fc-button > .fc-icon-left-single-arrow::after,
	.fc-next-button.fc-button > .fc-icon-right-single-arrow::after {
    	top: -14%;
	}	
}